name: runpy
on: [push]
jobs: 
  runpy:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install beautifulsoup requests pandas openpyxl 
        run: |
          pip3 install beautifulsoup4 requests pandas openpyxl 
      - name: execute my script
        run: |
          python gcpstatus.py
